/* 
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal
*/

* {
    -fx-primary : #2A2E37;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
}

.root {
    -fx-background-color: -fx-primary;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 13pt;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-font-size : 13pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

/* Main Screen CSS Styling starts here */
/* Tab Pane styling */
/*.tab-pane {*/
    /*-fx-open-tab-animation: none;*/
    /*-fx-close-tab-animation: none;*/
/*}*/

.tab {
    -fx-background-color: -fx-primary;
    -fx-pref-width : 350;
    -fx-pref-height : 60;
}

.tab-header-background {
    -fx-background-color: -fx-primary;
}

/* Menu bar Styling */
.menu-bar {
    -fx-base : -fx-primary;
    -fx-background-color: -fx-primary;
}

.context-menu {
    -fx-background-color:  derive(-fx-primary, 20%);
}

#miImportBooks > .label {
    -fx-graphic:url(/icons/import_20.png);
    -fx-graphic-text-gap: 5px;
}

#miImportBooks > .accelerator-text {
    -fx-graphic: none;
}

#miClose > .label {
    -fx-graphic:url(/icons/close.png);
    -fx-graphic-text-gap: 8px;
}

#miClose > .accelerator-text {
    -fx-graphic: none;
}

#miAddBook > .label {
    -fx-graphic:url(/icons/add_book_20.png);
    -fx-graphic-text-gap: 5px;
}

#miAddBook > .accelerator-text {
    -fx-graphic: none;
}

#miAddMember > .label {
    -fx-graphic:url(/icons/add_member.png);
    -fx-graphic-text-gap: 5px;
}

#miAddMember > .accelerator-text {
    -fx-graphic: none;
}

#miViewBook > .label {
    -fx-graphic:url(/icons/view_book.png);
    -fx-graphic-text-gap: 5px;
}

#miViewBook > .accelerator-text {
    -fx-graphic: none;
}

#miViewMember > .label {
    -fx-graphic:url(/icons/view_member.png);
    -fx-graphic-text-gap: 5px;
}

#miViewMember > .accelerator-text {
    -fx-graphic: none;
}

#miFullScreen > .label {
    -fx-graphic:url(/icons/fullscreen_exit.png);
    -fx-graphic-text-gap: 5px;
}

#miFullScreen > .accelerator-text {
    -fx-graphic: none;
}

#miAbout > .label {
    -fx-graphic:url(/icons/about.png);
    -fx-graphic-text-gap: 5px;
}

#miAbout > .accelerator-text {
    -fx-graphic: none;
}

/* Hamburger Styling */
.jfx-hamburger-icon {
    -fx-spacing: 7;
}

.jfx-hamburger-icon StackPane {
    -fx-background-color: -fx-secondary;
    -fx-background-radius: 5px;
}

/* Toolbar buttons */
.toolbar-button {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
    -fx-background-color: -fx-primary;
}

.toolbar-button:hover {
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.toolbar-button:hover .glyph-icon {
    -fx-fill: -fx-primary;
}

/* Text styling */
.main-text {
    -fx-fill: -fx-secondary;
    -fx-font-size: 14pt;
    -fx-text-alignment: center;
}

.submission-container {
    -fx-background-color: derive(-fx-primary, 10%);
}

/* Dialog styling */
.dialog-button {
    -fx-background-color: -fx-blue;
    -fx-border-color: -fx-blue;
    -fx-text-fill: white;
}

.dialog-button:hover {
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-primary;
    -fx-text-fill: white;
}

.jfx-layout-actions {
    -fx-hgap:8;
}

/* Chart Styling */
.data0.chart-pie {
    -fx-pie-color: -fx-secondary;
    -fx-border-color: derive(-fx-secondary, -30%);
}

.data1.chart-pie {
    -fx-pie-color: -fx-blue;
    -fx-border-color: derive(-fx-blue, -30%)
}

.chart-pie-label {
    -fx-fill : -fx-secondary;
}

/* 覆盖默认的 snackbar 样式 */
.jfx-snackbar-content {
    -fx-background-color: #214283;
    -fx-padding: 5;
    -fx-spacing: 5;
}

.jfx-snackbar-toast {
    -fx-text-fill: WHITE;
}

.jfx-snackbar-action {
    -fx-text-fill: #ff4081;
}
